{{#*inline "child"}}

<!-- 标栏图 start -->
<section class="b-pageHeader">
    <div class="container">
        <h1 class=" wow zoomInLeft" data-wow-delay="0.5s">法拍车推荐</h1>
        <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.5s">
            <h3>搜索结果{{list_len}}条 </h3>
        </div>
    </div>
</section>
<!-- 标栏图 end -->

<!-- 导航指示start -->
<div class="b-breadCumbs s-shadow">
    <div class="container wow zoomInUp" data-wow-delay="0.5s">
        <a href="javascript:void(0)" class="b-breadCumbs__page">首页</a>
        <span class="fa fa-angle-right"></span>
        <a href="javascript:void(0)" class="b-breadCumbs__page m-active">列表</a>
    </div>
</div>
<!-- 导航指示end -->
<!-- 条件排序栏 start -->
<div class="b-infoBar">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="b-infoBar__compare wow zoomInUp" data-wow-delay="0.1s">
                    
                    <a href="javascript:void(0)" class="b-infoBar__compare-item">
                        <span class="fa fa-compress"></span>搜索结果：{{list_len}}</a>
                </div>
            </div>
            <div class="col-lg-8 col-xs-12">
                <div class="b-infoBar__compare wow zoomInUp pull-right" data-wow-delay="0.1s">
                    <div class="dropdown ">
                        <a href="javascript:void(0)" class="dropdown-toggle b-infoBar__compare-item"
                            data-toggle='dropdown'><span class="fa fa-clock-o"></span>推荐记录<span
                                class="fa fa-caret-down"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)">最新推荐</a></li>
                            <li><a href="javascript:void(0)">昨日推荐</a></li>
                            <li><a href="javascript:void(0)">前日推荐</a></li>
                            <li><a href="javascript:void(0)">过拍结束</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 条件排序栏 end -->

<!-- 车辆列表 start -->
<section class="b-items s-shadow">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-8 col-xs-12">
                <div class="b-items__cars">
                    {{#each list}}
                    <div class="b-items__cars-one wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-items__cars-one-img">
                            <img src="{{list_img}}" width="270" height="230" alt='dodge'>
                            <a data-toggle="modal" data-target="#myModal" href="javascript:void(0)"
                                class="b-items__cars-one-img-video"><span class="fa fa-film"></span>视频</a>
                            <span class="b-items__cars-one-img-type m-premium">最新推荐</span>
                            <form action="" method="post">
                                <input type="checkbox" name="check1" id='check1'>
                                <label for="check1" class="b-items__cars-one-img-check"><span
                                        class="fa fa-check"></span></label>
                            </form>
                        </div>
                        <div class="b-items__cars-one-info">
                            <header class="b-items__cars-one-info-header s-lineDownLeft">
                                <a href="{{../base_url}}lawsuit/autocar/detail/{{id}}" target="_blank">
                                    <h2>{{title}}</h2>
                                </a>
                                <span>￥{{price_base}}</span>
                            </header>
                            <p>
                                {{summary}}
                            </p>
                            <div class="b-items__cars-one-info-km">
                                <span class="fa fa-tachometer"></span> {{kilometer}} KM
                            </div>
                            <div class="b-items__cars-one-info-details">
                                <div class="b-featured__item-links">
                                    {{#if production_date}}
                                    <a href="javascript:void(0)">{{production_date}}生产</a>
                                    {{/if}}
                                    {{#if gearbox}}
                                    <a href="javascript:void(0)">{{gearbox}}</a>
                                    {{/if}}
                                    {{#if universal_model}}
                                    <a href="javascript:void(0)">{{universal_model}}</a>
                                    {{/if}}
                                    {{#if emission}}
                                    <a href="javascript:void(0)">{{emission}}</a>
                                    {{/if}}
                                </div>
                                <a href="{{../base_url}}lawsuit/autocar/detail/{{id}}" target="_blank"
                                    class="btn m-btn">查看详情<span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                </div>

                <!-- 分页样式 start -->
                <!-- <div class="b-items__pagination wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-items__pagination-main">

                            <a data-toggle="modal" data-target="#myModal" href="javascript:void(0)" class="m-left">
                                <span class="fa fa-angle-left"></span>
                            </a>
                            <span class="m-active"><a href="javascript:void(0)">1</a></span>
                            <span><a href="javascript:void(0)">2</a></span>
                            <span class="m-active"><a href="javascript:void(0)">3</a></span>
                            <span><a href="javascript:void(0)">4</a></span>

                            <a href="javascript:void(0)" class="m-right">
                                <span class="fa fa-angle-right"></span>
                            </a>
                        </div>
                    </div> -->

                <div class="b-items__pagination wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-items__pagination-main">
                        <!-- 三个"{}"不转义html,两个转义 -->
                        {{{pages}}}
                    </div>
                </div>
                <!-- 分页样式 end -->

            </div>

            <!-- 右侧start -->
            <div class="col-lg-3 col-sm-4 col-xs-12">
                <aside class="b-items__aside">
                    <h2 class="s-title wow zoomInUp" data-wow-delay="0.5s">完善搜索</h2>
                    <div class="b-items__aside-main wow zoomInUp" data-wow-delay="0.5s">
                        <form>
                            <div class="b-items__aside-main-body">
                                <div class="b-items__aside-main-body-item">
                                    <label>SELECT A MAKE</label>
                                    <div>
                                        <select name="select1" class="m-select">
                                            <option value="" selected="">Any Make</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-items__aside-main-body-item">
                                    <label>选择品牌</label>
                                    <div>
                                        <select name="select1" class="m-select">
                                            <option value="" selected="">任何制造商</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-items__aside-main-body-item">
                                    <label>价格范围</label>
                                    <div class="slider"></div>
                                    <input type="hidden" name="min" value="100" class="j-min" />
                                    <input type="hidden" name="max" value="1000" class="j-max" />
                                </div>
                                <div class="b-items__aside-main-body-item">
                                    <label>车辆类型</label>
                                    <div>
                                        <select name="select1" class="m-select">
                                            <option value="" selected="">所有类型</option>
                                            <option value="" selected="">SUV</option>
                                            <option value="" selected="">轿车</option>
                                            <option value="" selected="">皮卡</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-items__aside-main-body-item">
                                    <label>车辆状态</label>
                                    <div>
                                        <select name="select1" class="m-select">
                                            <option value="" selected="">Any Status</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-items__aside-main-body-item">
                                    <label>燃料类型</label>
                                    <div>
                                        <select name="select1" class="m-select">
                                            <option value="" selected="">All Fuel Types</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                            </div>
                            <footer class="b-items__aside-main-footer">
                                <!-- <button type="submit" class="btn m-btn">确定搜索<span
                                            class="fa fa-angle-right"></span></button><br /> -->
                                <button type="button" class="btn m-btn">确定搜索<span
                                        class="fa fa-angle-right"></span></button><br />
                                <a href="javascript:void(0)">重置所有搜索条件</a>
                            </footer>
                        </form>
                    </div>
                    <div class="b-items__aside-sell wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-items__aside-sell-img">
                            <h3>卖掉你的车</h3>
                        </div>
                        <div class="b-items__aside-sell-info">
                            <p>
                                在此交易你的车辆，最大保监会，哈哈，来人了 .
                            </p>
                            <a href="javascript:void(0)" class="btn m-btn">立即注册<span
                                    class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </aside>
            </div>
            <!-- 右侧end -->
        </div>
    </div>
</section>

<!-- 车辆列表 end -->


{{/inline}}
{{> (lookup this "parent")}}