{{#*inline "child"}}

<!-- 标栏图 start -->
<section class="b-pageHeader">
    <div class="container">
        <h1 class=" wow zoomInLeft" data-wow-delay="0.5s">法拍车推荐</h1>
        <div class="b-pageHeader__search wow zoomInRight" data-wow-delay="0.5s">
            <h3>搜索结果{{list_len}}条 </h3>
        </div>
    </div>
</section>
<!-- 标栏图 end -->

<!-- 导航指示start -->
<div class="b-breadCumbs s-shadow">
    <div class="container wow zoomInUp" data-wow-delay="0.5s">
        <a href="javascript:void(0)" class="b-breadCumbs__page">首页</a><span class="fa fa-angle-right"></span><a
            href="javascript:void(0)" class="b-breadCumbs__page m-active">搜索结果</a>
    </div>
</div>
<!-- 导航指示end -->
<!-- 条件排序栏 start -->
<div class="b-infoBar">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xs-12">
                <div class="b-infoBar__compare wow zoomInUp" data-wow-delay="0.5s">
                    <div class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle b-infoBar__compare-item"
                            data-toggle='dropdown'><span class="fa fa-clock-o"></span>历史记录<span
                                class="fa fa-caret-down"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:void(0)">车1</a></li>
                            <li><a href="javascript:void(0)">车2</a></li>
                            <li><a href="javascript:void(0)">车3</a></li>
                            <li><a href="javascript:void(0)">车8</a></li>
                        </ul>
                    </div>
                    <a href="javascript:void(0)" class="b-infoBar__compare-item"><span
                            class="fa fa-compress"></span>比较车辆：2</a>
                </div>
            </div>
            <div class="col-lg-8 col-xs-12">
                <div class="b-infoBar__select">
                    <form method="post" action="">
                        <div class="b-infoBar__select-one wow zoomInUp" data-wow-delay="0.5s">
                            <span class="b-infoBar__select-one-title">展示方式</span>
                            <a href="javascript:void(0)" class="m-list m-active"><span class="fa fa-list"></span></a>
                            <a href="javascript:void(0)" class="m-table"><span class="fa fa-table"></span></a>
                        </div>
                        <div class="b-infoBar__select-one wow zoomInUp" data-wow-delay="0.5s">
                            <span class="b-infoBar__select-one-title">每页</span>
                            <select name="select1" class="m-select">
                                <option value="" selected="">10 条</option>
                                <option value="" selected="">18 条</option>
                            </select>
                            <span class="fa fa-caret-down"></span>
                        </div>
                        <div class="b-infoBar__select-one wow zoomInUp" data-wow-delay="0.5s">
                            <span class="b-infoBar__select-one-title">排序方式</span>
                            <select name="select2" class="m-select">
                                <option value="" selected="">最新推荐</option>
                                <option value="" selected="">快过期</option>
                            </select>
                            <span class="fa fa-caret-down"></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 条件排序栏 end -->

<!-- 车辆列表 start -->
<section class="b-items s-shadow">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-sm-8 col-xs-12">
                <div class="b-items__cars">
                    {{#each list}}
                    <div class="b-items__cars-one wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-items__cars-one-img">
                            <img src="{{list_img}}" width="270" height="230" alt='dodge'>
                            <a data-toggle="modal" data-target="#myModal" href="javascript:void(0)"
                                class="b-items__cars-one-img-video"><span class="fa fa-film"></span>视频</a>
                            <span class="b-items__cars-one-img-type m-premium">最新推荐</span>
                            <form action="" method="post">
                                <input type="checkbox" name="check1" id='check1'>
                                <label for="check1" class="b-items__cars-one-img-check"><span
                                        class="fa fa-check"></span></label>
                            </form>
                        </div>
                        <div class="b-items__cars-one-info">
                            <header class="b-items__cars-one-info-header s-lineDownLeft">
                                <a href="{{../base_url}}lawsuit/autocar/detail/{{id}}" target="_blank">
                                    <h2>{{title}}</h2>
                                </a>
                                <span>￥{{price_base}}</span>
                            </header>
                            <p>
                                {{summary}}
                            </p>
                            <div class="b-items__cars-one-info-km">
                                <span class="fa fa-tachometer"></span> {{kilometer}} KM
                            </div>
                            <div class="b-items__cars-one-info-details">
                                <div class="b-featured__item-links">
                                    {{#if production_date}}
                                    <a href="javascript:void(0)">{{production_date}}生产</a>
                                    {{/if}}
                                    {{#if gearbox}}
                                    <a href="javascript:void(0)">{{gearbox}}</a>
                                    {{/if}}
                                    {{#if universal_model}}
                                    <a href="javascript:void(0)">{{universal_model}}</a>
                                    {{/if}}
                                    {{#if emission}}
                                    <a href="javascript:void(0)">{{emission}}</a>
                                    {{/if}}
                                </div>
                                <a href="{{../base_url}}lawsuit/autocar/detail/{{id}}" target="_blank"
                                    class="btn m-btn">查看详情<span class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                    {{/each}}

                    <div class="b-items__cars-one wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-items__cars-one-img">
                            <img src="media/270x230/ferrari.jpg" alt="ferrari">
                            <a data-toggle="modal" data-target="#myModal" href="javascript:void(0)"
                                class="b-items__cars-one-img-video"><span class="fa fa-film"></span>VIDEO</a>
                            <span class="b-items__cars-one-img-type m-leasing">最佳性价比</span>
                            <form action="" method="post">
                                <input type="checkbox" name="check2" id='check2'>
                                <label for="check2" class="b-items__cars-one-img-check"><span
                                        class="fa fa-check"></span></label>
                            </form>
                        </div>
                        <div class="b-items__cars-one-info">
                            <header class="b-items__cars-one-info-header s-lineDownLeft">
                                <h2>2017 法拉利</h2>
                                <span>$1,420,112</span>
                            </header>
                            <p>
                                在跑车的上面，有一些充满异国情调的跑车。而拉法拉利也已经准备好了
                                他是所有充满异国情调的跑车之王。它的789马力的V-12得到了161马力的提升
                                电动机
                            </p>
                            <div class="b-items__cars-one-info-km">
                                <span class="fa fa-tachometer"></span> 35,000 KM
                            </div>
                            <div class="b-items__cars-one-info-details">
                                <div class="b-featured__item-links">
                                    <a href="javascript:void(0)">Registered 2017</a>
                                    <a href="javascript:void(0)">Used</a>
                                    <a href="javascript:void(0)">7-Speed Automatic</a>
                                    <a href="javascript:void(0)">Petrol</a>
                                </div>
                                <a href="javascript:void(0)" class="btn m-btn">查看详情<span
                                        class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="b-items__cars-one wow zoomInUp" data-wow-delay="0.3s">
                        <div class="b-items__cars-one-img">
                            <img src="media/270x230/jaguarList.jpg" alt='jaguar'>
                            <a data-toggle="modal" data-target="#myModal" href="javascript:void(0)"
                                class="b-items__cars-one-img-video"><span class="fa fa-film"></span>视频</a>
                            <span class="b-items__cars-one-img-type m-listing">新推荐</span>
                            <form action="" method="post">
                                <input type="checkbox" name="check3" id='check3'>
                                <label for="check3" class="b-items__cars-one-img-check"><span
                                        class="fa fa-check"></span></label>
                            </form>
                        </div>
                        <div class="b-items__cars-one-info">
                            <header class="b-items__cars-one-info-header s-lineDownLeft">
                                <h2>捷豹 XF 2017</h2>
                                <span>$51,170</span>
                            </header>
                            <p>
                                弯曲的线条，华丽的木材，皮革内饰和性能
                                结合了捷豹的爱。240马力，2.0升涡轮增压发动机
                            </p>
                            <div class="b-items__cars-one-info-km">
                                <span class="fa fa-tachometer"></span> 0,000 KM
                            </div>
                            <div class="b-items__cars-one-info-details">
                                <div class="b-featured__item-links">
                                    <a href="javascript:void(0)">Registered 2017</a>
                                    <a href="javascript:void(0)">Used</a>
                                    <a href="javascript:void(0)">8-Speed Automatic</a>
                                    <a href="javascript:void(0)">Petrol</a>
                                </div>
                                <a href="javascript:void(0)" class="btn m-btn">了解详情<span
                                        class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="b-items__cars-one wow zoomInUp" data-wow-delay="0.3s">
                        <div class="b-items__cars-one-img">
                            <img src="media/270x230/lexus.jpg" alt="lexus" />
                            <a data-toggle="modal" data-target="#myModal" href="javascript:void(0)"
                                class="b-items__cars-one-img-video"><span class="fa fa-film"></span>视频</a>
                            <span class="b-items__cars-one-img-type m-owner">最多关注</span>
                            <form action="" method="post">
                                <input type="checkbox" name="check4" id='check4'>
                                <label for="check4" class="b-items__cars-one-img-check"><span
                                        class="fa fa-check"></span></label>
                            </form>
                        </div>
                        <div class="b-items__cars-one-info">
                            <header class="b-items__cars-one-info-header s-lineDownLeft">
                                <h2>雷克萨斯 LS460 F Sport</h2>
                                <span>$73,445</span>
                            </header>
                            <p>
                                LS是第一款混合了欧洲豪华车和自诩的日本人的日本汽车
                                可靠性，并且今天它继续提供这种引人注目的组合
                            </p>
                            <div class="b-items__cars-one-info-km">
                                <span class="fa fa-tachometer"></span> 35,000 KM
                            </div>
                            <div class="b-items__cars-one-info-details">
                                <div class="b-featured__item-links">
                                    <a href="javascript:void(0)">Registered 2017</a>
                                    <a href="javascript:void(0)">Used</a>
                                    <a href="javascript:void(0)">8-Speed Automatic</a>
                                    <a href="javascript:void(0)">Petrol</a>
                                </div>
                                <a href="javascript:void(0)" class="btn m-btn">查看详情<span
                                        class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="b-items__cars-one wow zoomInUp" data-wow-delay="0.3s">
                        <div class="b-items__cars-one-img">
                            <img src="media/270x230/mersAmg.jpg" alt="amg" />
                            <a data-toggle="modal" data-target="#myModal" href="javascript:void(0)"
                                class="b-items__cars-one-img-video"><span class="fa fa-film"></span>视频</a>
                            <form action="" method="post">
                                <input type="checkbox" name="check6" id='check6'>
                                <label for="check6" class="b-items__cars-one-img-check"><span
                                        class="fa fa-check"></span></label>
                            </form>
                        </div>
                        <div class="b-items__cars-one-info">
                            <header class="b-items__cars-one-info-header s-lineDownLeft">
                                <h2>梅赛德斯-奔驰 GL63 AMG</h2>
                                <span>$120,375</span>
                            </header>
                            <p>
                                顶级的GL63AMG是为那些渴望性能，豪华，和
                                排外
                                -你知道的；生活中最美好的东西。AMG在GL上施展魔法
                            </p>
                            <div class="b-items__cars-one-info-km">
                                <span class="fa fa-tachometer"></span> 35,000 KM
                            </div>
                            <div class="b-items__cars-one-info-details">
                                <div class="b-featured__item-links">
                                    <a href="javascript:void(0)">Registered 2017</a>
                                    <a href="javascript:void(0)">Used</a>
                                    <a href="javascript:void(0)">7-Speed Automatic</a>
                                    <a href="javascript:void(0)">Petrol</a>
                                </div>
                                <a href="javascript:void(0)" class="btn m-btn">查看详情<span
                                        class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>

                    <div class="b-items__cars-one wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-items__cars-one-img">
                            <img src="media/270x230/nissanList.jpg" alt="nissan" />
                            <a data-toggle="modal" data-target="#myModal"
                                href="http://cloud.video.taobao.com/play/u/3160696789/p/1/e/6/t/1/357395387123.mp4"
                                class="b-items__cars-one-img-video"><span class="fa fa-film"></span>视频3</a>
                            <form action="" method="post">
                                <input type="checkbox" name="check5" id='check5'>
                                <label for="check5" class="b-items__cars-one-img-check"><span
                                        class="fa fa-check"></span></label>
                            </form>
                        </div>
                        <div class="b-items__cars-one-info">
                            <header class="b-items__cars-one-info-header s-lineDownLeft">
                                <h2>2017 日产 Maxima</h2>
                                <span>$32,115</span>
                            </header>
                            <p>
                                曾经被称为“四门跑车”的Maxima已经变得越来越大、越来越重
                                在过去的几十年里，这削弱了它的吸引力。当前一代
                            </p>
                            <div class="b-items__cars-one-info-km">
                                <span class="fa fa-tachometer"></span> 35,000 KM
                            </div>
                            <div class="b-items__cars-one-info-details">
                                <div class="b-featured__item-links">
                                    <a href="javascript:void(0)">Registered 2017</a>
                                    <a href="javascript:void(0)">Used</a>
                                    <a href="javascript:void(0)">7-Speed Automatic</a>
                                    <a href="javascript:void(0)">Petrol</a>
                                </div>
                                <a href="javascript:void(0)" class="btn m-btn">了解详情<span
                                        class="fa fa-angle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 分页样式 start -->
                <!-- <div class="b-items__pagination wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-items__pagination-main">

                            <a data-toggle="modal" data-target="#myModal" href="javascript:void(0)" class="m-left">
                                <span class="fa fa-angle-left"></span>
                            </a>
                            <span class="m-active"><a href="javascript:void(0)">1</a></span>
                            <span><a href="javascript:void(0)">2</a></span>
                            <span class="m-active"><a href="javascript:void(0)">3</a></span>
                            <span><a href="javascript:void(0)">4</a></span>

                            <a href="javascript:void(0)" class="m-right">
                                <span class="fa fa-angle-right"></span>
                            </a>
                        </div>
                    </div> -->

                <div class="b-items__pagination wow zoomInUp" data-wow-delay="0.5s">
                    <div class="b-items__pagination-main">
                        <!-- 三个"{}"不转义html,两个转义 -->
                        {{{pages}}}
                    </div>
                </div>
                <!-- 分页样式 end -->

            </div>

            <!-- 右侧start -->
            <div class="col-lg-3 col-sm-4 col-xs-12">
                <aside class="b-items__aside">
                    <h2 class="s-title wow zoomInUp" data-wow-delay="0.5s">完善搜索</h2>
                    <div class="b-items__aside-main wow zoomInUp" data-wow-delay="0.5s">
                        <form>
                            <div class="b-items__aside-main-body">
                                <div class="b-items__aside-main-body-item">
                                    <label>SELECT A MAKE</label>
                                    <div>
                                        <select name="select1" class="m-select">
                                            <option value="" selected="">Any Make</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-items__aside-main-body-item">
                                    <label>选择品牌</label>
                                    <div>
                                        <select name="select1" class="m-select">
                                            <option value="" selected="">任何制造商</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-items__aside-main-body-item">
                                    <label>价格范围</label>
                                    <div class="slider"></div>
                                    <input type="hidden" name="min" value="100" class="j-min" />
                                    <input type="hidden" name="max" value="1000" class="j-max" />
                                </div>
                                <div class="b-items__aside-main-body-item">
                                    <label>车辆类型</label>
                                    <div>
                                        <select name="select1" class="m-select">
                                            <option value="" selected="">所有类型</option>
                                            <option value="" selected="">SUV</option>
                                            <option value="" selected="">轿车</option>
                                            <option value="" selected="">皮卡</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-items__aside-main-body-item">
                                    <label>车辆状态</label>
                                    <div>
                                        <select name="select1" class="m-select">
                                            <option value="" selected="">Any Status</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                                <div class="b-items__aside-main-body-item">
                                    <label>燃料类型</label>
                                    <div>
                                        <select name="select1" class="m-select">
                                            <option value="" selected="">All Fuel Types</option>
                                        </select>
                                        <span class="fa fa-caret-down"></span>
                                    </div>
                                </div>
                            </div>
                            <footer class="b-items__aside-main-footer">
                                <!-- <button type="submit" class="btn m-btn">确定搜索<span
                                            class="fa fa-angle-right"></span></button><br /> -->
                                <button type="button" class="btn m-btn">确定搜索<span
                                        class="fa fa-angle-right"></span></button><br />
                                <a href="javascript:void(0)">重置所有搜索条件</a>
                            </footer>
                        </form>
                    </div>
                    <div class="b-items__aside-sell wow zoomInUp" data-wow-delay="0.5s">
                        <div class="b-items__aside-sell-img">
                            <h3>卖掉你的车</h3>
                        </div>
                        <div class="b-items__aside-sell-info">
                            <p>
                                在此交易你的车辆，最大保监会，哈哈，来人了 .
                            </p>
                            <a href="javascript:void(0)" class="btn m-btn">立即注册<span
                                    class="fa fa-angle-right"></span></a>
                        </div>
                    </div>
                </aside>
            </div>
            <!-- 右侧end -->
        </div>
    </div>
</section>

<!-- 车辆列表 end -->


{{/inline}}
{{> (lookup this "parent")}}